body {
    font-family: Arial, sans-serif;
    background-image: url("https://www.investopedia.com/thmb/Z9hn3yJjTENp_e170q9z0c9ZpbM=/1500x0/filters:no_upscale():max_bytes(150000):strip_icc()/GettyImages-83077314-31d4b4d009f443c8ac37ee30eec32800.jpg");
    background-repeat: no-repeat;
    background-size: cover;
    margin: 0;
    padding: 0;
}

.Converter {
    width: 400px;
    margin: 100px auto;
    background-color: #a29d9d;
    padding: 30px;
    border-radius: 10px;
    border: 2px solid #111111;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.3);
}

h2 {
    text-align: center;
    margin-bottom: 20px;
    color: #050505;
}

.row {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 15px;
}

input[type="number"],
input[type="text"],
select {
    width: 65%;
    padding: 10px;
    font-size: 16px;
    border: 2px solid #060606;
    border-radius: 5px;
    margin: 2px;
    background-color: white;
}

#Converted {
    background-color: #fff;
    color: #000;
}

.swap {
    text-align: center;
    font-size: 26px;
    cursor: pointer;
    padding: 10px;
    transition: transform 0.3s ease;
}

.swap:hover {
    transform: rotate(180deg);
}

.btn {
    text-align: center;
    margin-top: 10px;
}

.btn button {
    padding: 10px 20px;
    font-size: 16px;
    border: 2px solid #000;
    border-radius: 5px;
    cursor: pointer;
    background-color: #fff;
}
button:hover {
    background-color: #f0f0f0;
}
